<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>200</title>
</head>
<body>
<blockquote class="twitter-tweet"><p lang="en" dir="ltr">FULL STEAM AHEAD: London&#39;s Woolwich Ferry did donuts and sounded its horn in a show of support for health care workers on the front line of the COVID-19 pandemic. <a href="https://t.co/dZqwi69z2H">https://t.co/dZqwi69z2H</a> <a href="https://t.co/HX2q7GJEoa">pic.twitter.com/HX2q7GJEoa</a></p>&mdash; ABC News (@ABC) <a href="https://twitter.com/ABC/status/1251215865279807489?ref_src=twsrc%5Etfw">April 17, 2020</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
<pre>
                     ;,'
             _o_    ;:;'
         ,-.'---`.__ ;
        ((y`=====',-'
         `-\     /
            `-=-'
        (shhhhhhhhhhhhh)
    </pre>
</body>
</html>